.preview-image {
    max-width: 300px;  /* Adjust this value as needed */
    max-height: 300px; /* Adjust this value as needed */
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
}

.container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    height: 100vh; /* Full viewport height */
    padding: 40px;
    margin-right: 100px; /* Adjust padding as needed */
}

.mouth1 {
    position: relative;
}

.mouth1 img {
    max-height: 1400px; /* Increased from 900px to 1000px */
    max-width: 600px;   /* Increased from 500px to 600px */
    top: 90px; /* Move the image down by 150px */
    position: relative; /* Ensure the position is relative for the top adjustment to work */
    margin-left: 0px;
    margin-right: 230px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust gap as needed */
}
.btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.preview {
    margin-top: 20px; /* Adjust margin as needed */
}

.result {
    margin-top: 20px; /* Adjust margin as needed */
}
